@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
body{
    color: #0D0D0D;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 10px;
}

@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/advantages.scss';
@import 'blocks/consultion';
@import 'blocks/forms';
@import 'blocks/media-promo';
@import 'blocks/media-advantage';